name: Deploy topics to dev

on:
  push:
    branches:
      - main

jobs:
  deploy-topics-to-dev:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    strategy:
      matrix:
        topic: [
          api-innsending,
          dialog,
          im-rapid,
          inntektsmelding-ekstern,
          inntektsmelding-topic,
          pri,
        ]
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: topics/dev/${{ matrix.topic }}.yaml
