name: Deploy topics til prod

on:
  release:
    types: [released]

jobs:
  deploy-topics-to-prod:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    strategy:
      matrix:
        topic: [
          api-innsending,
          im-rapid,
          inntektsmelding-ekstern,
          inntektsmelding-topic,
          pri,
        ]
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: topics/prod/${{ matrix.topic }}.yaml
